<nav class='navbar'>
  <div><i class="fab fa-apple fa-lg"></i></div>
  <div>File</div>
  <div>Edit</div>
  <div>View</div>
  <div>
    Special
  </div>
  <% if current_user %>
    <div><%= link_to 'out', destroy_user_session_path(current_user), method: 'delete' %></div>
  <% end %>
</nav>