<table class='trash_table'>
  <thead>
    <tr>
      <td>Name</td>
      <td>Date</td>
      <td>Size</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Windows.exe</td>
      <td>01-01-1995</td>
      <td>307,200 bytes</td>
    </tr>
    <tr>
      <td>ILOVEYOU.exe</td>
      <td>12-12-2020</td>
      <td>3,501 bytes</td>
    </tr>
    <tr>
      <td>melissa.exe</td>
      <td>03-26-1999</td>
      <td>205 bytes</td>
    </tr>
    <tr>
      <td>sasser_worm.exe</td>
      <td>01-12-2004</td>
      <td>199 bytes</td>
    </tr>
    <tr>
      <td>mydoom.exe</td>
      <td>01-01-2004</td>
      <td>2,469 bytes</td>
    </tr>
    <tr>
      <td>code_red.exe</td>
      <td>01-01-2001</td>
      <td>3,125 bytes</td>
    </tr>
    <tr>
      <td>Virus.exe</td>
      <td>35-25-1900</td>
      <td>2 bytes</td>
    </tr>
  </tbody>
</table>