// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #B8B8B8;
  height: 100vh;
  font-family: 'chicago'
}

.navbar {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: calc(-50vw + 50%);
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: white;
  border-bottom: 0.5px black solid;
}

.navbar > div {
  color: black;
  margin: 10px 30px;
}

.navbar > div:hover {
  cursor: pointer;
}

.system_disk,
.trash,
.terminal,
.blogs,
.notes,
.challenges {
  cursor: pointer;
}

.home {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.links_1,
.window_content,
.links_2 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.links_1 {
  margin-top: 10px;
  justify-content: flex-end;
}

.window_content {
  flex-grow: 2;
}

// system disk
.system_disk {
  text-align: center;
}

.system_disk > img {
  width: 50px;
}

.system_disk > div {
  margin-top: -7px;
  background-color: white;
  font-size: 15px;
}

// trash
.trash {
  margin-right: 20px;
  text-align: center;
}

.trash > img {
  width: 60px;
}

.trash > div {
  margin-top: -15px;
  background-color: white;
  font-size: 15px;
}

// terminal
.terminal {
  margin-left: auto;
}

.terminal > img {
  margin-left: 5px;
  width: 63px;
}

.terminal > div {
  text-align: center;
  margin-top: -15px;
  background-color: white;
}

// content folders blog notes challenges
.content_folders {
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
}

.content_folders > img {
  width: 55px;
}

.content_folders > div {
  margin-top: -8px;
  background-color: white;
  font-size: 15px;
}

// window
.window {
  width: 100%;
  height: 90%;
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 4px;
  overflow-y: scroll;
}

.window_title {
  text-align: center;
  width: 100%;
  border-bottom: 0.5px solid grey;
}

.window_count {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 0.5px solid grey;
  font-size: 10px;
}

.close_window {
  cursor: pointer;
  float: right;
  margin: 2px;
}

.bigger_window {
  cursor: pointer;
  float: left;
  margin: 2px;
}


// content in window with blog notes challenges
.container {
  display: flex;
  flex-wrap: wrap;
}

// div where window of blog notes challenges render
// div where window of terminal render

.render_window {
  margin-left: 10px;
  width: 45%;
  height: 90%;
  margin-top: 10px;
}

.render_full {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin-top: 30px;
  z-index: 1;
}

#terminalWindowContent {
  width: 100%;
  min-height: 100%;
  background-color: black;
  color: #EC7063;
}

.terminal_text {
  margin: 2px;
}

// trash

.trash_table {
  width: 90%;
  font-size: 10px;
}

.trash_table > thead {
  background-color: grey;
}

