// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// coding challenges folder

.mac_folder {
  padding: 30px;
}

.search {
  padding: 30px;
  width: 100%;
}

.mac_folder > a > img {
  margin-left: 18px;
  width: 60px;
}

.mac_folder > a > div {
  // margin-top: -10px;
  // background-color: white;
  // vertical-align: bottom;
  font-size: 15px;
  // padding: 0 3px 0;
  width: 90px;
  text-align: center;
}

.mac_folder_link {
  text-decoration: none;
  color: black;
}
